<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Part 1 of Free Code Camp Backend Challenges</h1>
        <div>
           I can get the IP address, language and operating system for my browser.
        </div>
        <div>    
            <b>Example usage:</b><br/>
            <a href="https://woozy-care.glitch.me/whoami">https://woozy-care.glitch.me/whoami</a><br/>
            <b>Example output:</b><br/>
            TODO
        </div>
      </div>
   </body>

</html>
